<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/profile">Profile</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
  </ol>
</nav>
<section id="dashboard">
    <div class="row">
        <div class="col-12">
            <h1 class="display-4">Dashboard</h1>
            <hr>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="imge-link">
                        <a href="/admin/temp"><img src="/../images/temperature.PNG" class=" img-fluid img-thumbnail" alt="Temperature"></a>
                    </div>                    
                </div>
                <div class="col-12 col-md-4">
                    <div class="imge-link">
                        <a href="/admin/air" ><img src="/../images/air.PNG" class="img-fluid img-thumbnail" alt="Air Quality"></a>
                    </div>                    
                </div>
                <div class="col-12 col-md-4">
                    <div class="imge-link">
                        <a href="/admin/hum"><img src="/../images/hum.PNG" class="img-fluid img-thumbnail" alt="Humidaty"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>