<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/admin/profile">Profile</a></li>
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active" aria-current="page">Temp</li>
  </ol>
</nav>
<div class="row">
    <div class="col-12">
        <h1>Humidaty Report</h1>
        <hr>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="imge-link">
                    <a href="/admin/daysreport/hum"><img src="/../images/dialyReport.png" class="img-fluid" alt="Temperature"></a>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="imge-link">
                    <a href="/admin/monthsreport/hum"><img src="/../images/monthly.png" class="img-fluid" alt="Humidaty"></a>
                </div>                
            </div>
            <div class="col-12 col-md-4">
                <div class="imge-link">
                    <a href="/admin/yearsreport/hum"><img src="/../images/yearly.png" class="img-fluid" alt="Humidaty"></a>
                </div>                
            </div>
        </div>
    </div>
</div>